.contact-container{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column
}
.contact-header-container{
    width: auto;
    height: auto;
    margin: 100px 0 0 0;
}

.contact-header{
    padding: 10px 0px;
    border-top: 7px solid white;
    border-bottom: 7px solid skyblue;
    font-size: 30px;
    width: 202px;
    margin: auto auto 7px auto;
    font-weight: 500;
}
.details-container{
    display: flex;
    flex-direction: row;
    flex: 2;
    margin: 20px 0 100px 0;
}
.mydetails{
    flex: 1;
    margin: auto
}
.detail-header{
    font-weight: bold;
    border-bottom: 5px solid skyblue;
    width: 60px
}
.contact-form{
    flex: 1
}
.detail-marker{
    padding: 0 10px 0 10px

}
.info-container{
    width:500px;
    margin: auto;
    text-align: left
}
.form-container{
    margin: auto
}

.form-input{
    width:60%;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 20px
}
.message{
    height: 300px;
}
.form-button{
    border: 2px solid white;
    width: 200px;
    padding: 10px;
    background: rgb(128, 128, 128);
    color: black;
    margin: 0 auto 0 auto;
    cursor: pointer;
}
.form-button:hover{
    background-color: white
}
.error-feild{
    color: white;
    font-size: 20px;
    font-weight: bold
}
.email{
    text-decoration: underline;
    cursor: pointer;
}
@media only screen and (max-width:479px){
    .details-container{
        flex-direction: column
    }
    .info-container{
        width:100%;
        margin: 20px 20px;
    }
    .form-input{
        width: 90%
    }
}

.social{
    cursor: pointer;
    color: white !important;
}
.qr-code{
    width: 200px;
    height: 200px;
}
.qr-container{
    margin: 5px 0 0 0;
}