.tiles-container{
    background-color: rgb(230, 230, 230);
    flex: 1;
    margin: 50px;
    height: 250px;
    min-width: 200px;
    border: 2px solid black;
    color: #000;
}
.tiles-container:hover{
    background-color: black;
    border: 2px solid;
    color:white;
    cursor: pointer;
}
.title-icon{
    margin: 50px auto 10px auto
}
.tile-title{
    font-size: 20px;
    font-weight: bold
}